body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.receipt {
    width: 300px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.header {
    text-align: center;
    margin-bottom: 10px;
}

.header h1 {
    font-size: 24px;
    color: #333;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.info p {
    margin: 0;
}

.items .item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.items .item .description {
    flex: 2;
}

.items .item .quantity {
    flex: 1;
    text-align: center;
}

.items .item .price {
    flex: 1;
    text-align: right;
}

.total p {
    font-weight: bold;
    text-align: right;
    margin-top: 10px;
}

.recipient, .details {
    flex: 1;
}

button {
    background-color: white;
    color: black;
    border: 1px solid #4CAF50;
    height: 40px;
    width: 100px;
    transition-duration: 0.4s;
    font-size: 20px;
  }
  
  button:hover {
    background-color: #4CAF50;
    /* Green */
    color: white;
  }