.body {
  align-items: center;
  width: 100%;
}

.content-table {
  border-collapse: collapse;
  margin: 15px 0;
  font-size: 0.9em;
  width: 100%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
}

.content-table tbody tr:hover {
  background-color: #90e093;
}
.content-table tbody button:hover {
  background-color: #4CAF50;
  color: white;
}

.content-table thead tr {
  background-color: #076313;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
  text-align: center;
}

.content-table th {
  font-size: 20px;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
  text-align: center;
  font-size: 15px;
}

.content-table tbody button {
  background-color: white;
  color: black;
  border: 1px solid #4CAF50;
  height: 20px;
  width: 50px;
  transition-duration: 0.4s;
  font-size: 10px;
}


.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #076313;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #076313;

}

button {
  background-color: white;
  color: black;
  border: 1px solid #4CAF50;
  height: 40px;
  width: 100px;
  transition-duration: 0.4s;
  font-size: 20px;
}

button:hover {
  background-color: #4CAF50;
  /* Green */
  color: white;
}

/* Styles for the overlay */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

/* Styles for the modal content */
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  width: 50%;
}

/* Styles for the close button */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #076313
}

.form-group input {
  width: 95%;
  /* padding: 5px; */
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 15px;
}

.form-group input[type="submit"] {
  background-color: white;
  width: 100%;
  color: #076313;
  border: 1px solid #076313;
  cursor: pointer;
  font-size: 15px;
}

.form-group input[value="cancel"] {
  background-color: white;
  width: 100%;
  color: red;
  border: 1px solid red;
  cursor: pointer;
  font-size: 15px;
}

.form-group input[type="submit"]:hover {
  background-color: #076313;
  color: white;
}

.form-group input[type=text],
select {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 15px;
}

.form-group-footer {
  display: flex;
}

.form-group-footer input {
  width: 95%;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 20px;
}

.form-group-footer input[type="submit"] {
  background-color: white;
  width: 100%;
  color: #076313;
  border: 1px solid #076313;
  cursor: pointer;
  font-size: 15px;
}

.content {
  border: 1px solid black;
  display: flex;
}

.content button{
  display: flex;
  float: right;
}